@import "variables.scss";

body{
    height: 100%;
    line-height: 1;
    background: linear-gradient(99.89deg, $bodyBackground1 0%, $bodyBackground2 98.82%);
}

/*mixin*/

@mixin btn($btnWidth, $btnHeight){
    display: flex;
    justify-content: center;
    align-items: center;
    width: $btnWidth;
    height: $btnHeight;
    text-transform: uppercase;
    line-height: 375%;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    background-color: $btnColor;
    color: $mainColor;
    cursor: pointer;
} 

/*header*/

.header {
    position:sticky;
    width: 100%;
    left: 0;
    top: 0;
    font-family: $headerFont;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    z-index: 50;

    &__container {
        display: flex;
        align-items: center;
        min-height: 60px;
        max-width: 1247px;
        margin: 0 auto;
        padding: 27px 0 15px 0;
        box-sizing: content-box;
    }

    &__btn {
        margin-left: 153px;

        @include btn(246px, 60px);
    }

    &__mobile {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        &-toggle {
            &-item {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                background-color: $mainColor;
                border-radius: 3px;
                z-index: 1;
            }
        }
    }

    @media (max-width: 992px) {
        &__btn {
            display: none;
        }
        
        &__btn-mobile {
            display: block;
            width: 33px;
            height: 33px;
            border: none;
            background-color: transparent;
            &-img {
                width: 33px;
                height: 33px;
            }
        }

        &__mobile-toggle {
            display: block;
            z-index: 7;
        }

        &__menu {
            display: none;
        }
    }
    
    @media (min-width: 992px) {
        &__btn-mobile {
            display: none;
        }

        &__mobile-toggle {
            display: none;
        }
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        &__container {
            padding: 20px;
        }

        &__btn {
            margin-left: 50px;
        }
    }
}

.menu {
    position: relative;
    max-width: 848px;
    
    &__closeBtn {
        display: none;
        margin: 0 4px 0 0;
        padding: 0;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
        outline: none;
        line-height: 138%;
        cursor: pointer;
    }

    &__img {
        width: 24px;
        height: 24px;
    }

    &__link {
        text-decoration: none;
        line-height: 138%;
        color: inherit;
    }

    &__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        &-item {
            list-style: none;
            text-decoration: none;
            z-index: 5;
            color: $mainColor;
            &:not(:last-child){
                margin-right: 35px;
            }
        }
    }

    &__subnav-list{
        position: absolute;
        top: 28px;
        left: 40px;
        z-index: 6;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 6px;
        padding-left: 19px;
        padding-bottom: 7px;
        width: 154px;
        height: 125px;
        background-color: $mainColor;
        border-radius: 7px;

        &-item {
            margin: 0;
            list-style: none;
            text-decoration: none;
            color: $menuColor;
        }
    }

    @media (min-width:1600px){
        &__list{
            &-item{
                &:not(:last-child){
                    margin-right:39px;
                }
            }
        }
    }

    @media (max-width: 992px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 6;
        padding: 3.125rem 0 3.125rem 4.375rem;
        background-color: $mainColor;

        &__list {
            &-item {
                color: $menuColor;
            }
        }

        &__subnav-list {
            position: absolute;
            top: 5.4rem;
            left: 6rem;
            padding: 10px;
            background-color: $menuColor;

            &-item {
                color: $mainColor;
            }
        }

        &__closeBtn {
            display: none;
        }
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        &__list{
            &-item{
                &:not(:last-child){
                    margin-right:10px;
                }
            }
        }
    }
}

/*main*/

#truckImg {
    margin-right: 15.85px;
}

#medalImg {
    margin-right: 27.5px;
}

#personImg {
    margin-right: 20.52px;
}

#info-item-1 {
    max-width: 139px;
}

#info-item-2 {
    max-width: 128px;
}

#info-item-3 {
    max-width: 144px;
}

.main{
    position: relative;
    min-height: 664px;
    padding: 54px 10px 0 10px;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__title, 
    &__subtitle, 
    &__info,
    &__detail {
        animation: 3s show linear forwards;
    }

    &__title, 
    &__subtitle {
        font-family: $mainFont;
        color: $mainColor;
    }

    &__title {
        padding: 0 2rem 2.188rem 0;
        width: 570px;
        height: 132px;
        font-family: 900;
        font-size: 3.438rem;
        line-height: 120%;
    }

    &__subtitle {
        margin-bottom: 6px;
        width: 20.75rem;
        height: 3.5rem;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 28px;
    }

    &__detail {
        margin-bottom: 67px;
        width: 10.814rem;
        height: 0.313rem;
        background-color: $customBlue;
        color: $customBlue;
    }

    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 451px;
        min-height: 108px;
        padding: 0;

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:last-child){
                margin-bottom: 35px;
            }
        }

        &-txt {
            height: 34px;
            font-family: $mainFont;
            font-weight: 500;
            line-height: 120%;
            color: $mainColor;
        }
    }

    &__img-container {
        display: none;
    }

    &__img {
        position: absolute;
        width: 745px;
        height: 664px;
        top: -1;
        right: 0;
    }

    @media (max-width: 280px) {
        &__title {
            margin-bottom: 70px;
        }

        &__info {
            margin-top: 100px;
        }
    }

    @media (max-width:540px) {
        &__title {
            font-size: 2.8rem;
        }

        &__subtitle {
            margin-bottom: 30px;
        }

        &__title,
        &__subtitle {
            width: 100%;
            text-align: center;
        }

        &__detail {
            display: none;
        }

        &__info {
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: 992px) {
        &__container {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 50px;
        }

        &__info{
            margin-bottom: 80px;
        }
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        &__title {
            
            width: 400px;
            font-size: 3.2rem;
        }

        &__subtitle {
            width: 400;
        }
    }
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*form*/

.aside {
    width: 508px;
    height: 471px;
    padding: 30px 0 29px 30px;
    border-radius: 10px;
    background-color: $mainColor;
    animation: 3s show linear forwards;

    &__title {
        width: 268px;
        height: 60px;
        font-family: $mainFont;
        font-weight: 600;
        font-size: 1.563rem;
        line-height: 120%;
    }

    &__questions {
        font-weight: 400;
        font-size: 0.75rem;
        text-transform: uppercase;
        line-height: 108%;
    }

    &__title,
    &__questions {
        font-family: $mainFont;
        color: $asideColor;
    }

    &__range {
        padding: 24px 0 34px 0;

        &-titles {
            margin-bottom: 21px;
        }
    }

    &__output-range {
        font-family: $asideFont;
        font-weight: 700;
        font-size: 1.063rem;
        line-height: 118%;
        letter-spacing: 1px;
    }

    &__output-container {
        margin-left: 16.688rem;
    }

    &__house-container {
        padding: 24px 0 32px 0;
    }

    &__rooms-container {
        padding: 18px 0 0 0;
    }

    &__house-container,
    &__rooms-container {
        display: flex;
        flex-direction: row;
    }
    
    &__house-radio,
    &__rooms-radio  {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__house-radio {
        margin-right: 1.25rem;
    }

    &__rooms-radio {
        margin-right: 4rem;
    }

    &__btn-container {
        display: flex;
        justify-content: center;
    }

    &__btn {
        margin-top: 25px;

        @include btn(185px, 60px);
    }

    @media (max-width: 280px) {
        &__title {
            font-size: 1.2rem;
            width: 100%;
        }
    }

    @media (max-width: 540px) {
        padding: 25px;
        width: 80%;
        height: fit-content;

        &__output-container {
            margin-left: 70%;
        }

        &__house-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
        }

        &__rooms-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 10px;
        }
    }
}

/******** input-range ********/

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: $customBlue;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    height: 0.75rem;
    width: 28rem;
    background-image: linear-gradient($customViolet, $customViolet);
    background-size: 50% 100%;
    background-repeat: no-repeat;

    @media (max-width: 540px) {
        width: 90%;
    }
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/

input[type="range"] {
    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        color: $customViolet;
        height: 0.75rem;
        border-radius: 0.25rem;
    }

    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        margin-top: -10.5px;
        width: 2.063rem;
        height: 2.063rem;
        background-color: $btnColor;
        border-radius: 6.25rem;
    }
}

/******** Firefox ********/

input[type="range"] {
    &::-moz-range-track {
        background: $customBlue;
        border-radius: 0.25rem;
        height: 0.75rem;
    }

    &::-moz-range-thumb {
        border: none;
        width: 2.063rem;
        height: 2.063rem;
        background-color: $btnColor;
        border-radius: 6.25rem;
    }

    &::-moz-range-progress {
        height: 0.75rem;
        background-color: $customViolet;
        border-radius: 0.25rem;
    }
}

/******** input-radio ********/
*:before,
*:after {
    box-sizing: border-box;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 1.938rem;
    height: 1.938rem;
    border: 0.28em double $asideColor;
    border-radius: 50%;
    margin-right: 10px;
    font-family: $mainFont;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $asideColor;
    cursor: pointer;

    &::before {
        display: grid;
        place-content: center;
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em $btnColor;
        background-color: $btnColor;
    }

    &:checked::before {
        transform: scale(1);
    }
}

label {
    cursor: pointer;
}

/******** scroll button ********/

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.688rem;
    margin-bottom: 4.688rem;

    &__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    } 

    &__img {
        width: 32px;
        height: 32px;
    }

    &__txt {
        margin-top: 14px;
        font-family: $mainFont;
        font-weight: 400;
        font-size: 15px;
        line-height: 107%;
        text-transform: uppercase;
        color: $mainColor;
    }

    @media (max-width: 992px) {
        display: none;
    }
}