@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "../fonts/Arial/font.css";
body {
  height: 100%;
  line-height: 1;
  background: linear-gradient(99.89deg, #3625AF 0%, #C46BD5 98.82%);
}

/*mixin*/
/*header*/
.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 60px;
  max-width: 1247px;
  margin: 0 auto;
  padding: 27px 0 15px 0;
  box-sizing: content-box;
}
.header__btn {
  margin-left: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 60px;
  text-transform: uppercase;
  line-height: 375%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  background-color: #302594;
  color: #FFFFFF;
  cursor: pointer;
}
.header__mobile {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.header__mobile-toggle-item {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background-color: #FFFFFF;
  border-radius: 3px;
  z-index: 1;
}
@media (max-width: 992px) {
  .header__btn {
    display: none;
  }
  .header__btn-mobile {
    display: block;
    width: 33px;
    height: 33px;
    border: none;
    background-color: transparent;
  }
  .header__btn-mobile-img {
    width: 33px;
    height: 33px;
  }
  .header__mobile-toggle {
    display: block;
    z-index: 7;
  }
  .header__menu {
    display: none;
  }
}
@media (min-width: 992px) {
  .header__btn-mobile {
    display: none;
  }
  .header__mobile-toggle {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .header__container {
    padding: 20px;
  }
  .header__btn {
    margin-left: 50px;
  }
}

.menu {
  position: relative;
  max-width: 848px;
}
.menu__closeBtn {
  display: none;
  margin: 0 4px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  line-height: 138%;
  cursor: pointer;
}
.menu__img {
  width: 24px;
  height: 24px;
}
.menu__link {
  text-decoration: none;
  line-height: 138%;
  color: inherit;
}
.menu__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.menu__list-item {
  list-style: none;
  text-decoration: none;
  z-index: 5;
  color: #FFFFFF;
}
.menu__list-item:not(:last-child) {
  margin-right: 35px;
}
.menu__subnav-list {
  position: absolute;
  top: 28px;
  left: 40px;
  z-index: 6;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6px;
  padding-left: 19px;
  padding-bottom: 7px;
  width: 154px;
  height: 125px;
  background-color: #FFFFFF;
  border-radius: 7px;
}
.menu__subnav-list-item {
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #5C39BA;
}
@media (min-width: 1600px) {
  .menu__list-item:not(:last-child) {
    margin-right: 39px;
  }
}
@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    padding: 3.125rem 0 3.125rem 4.375rem;
    background-color: #FFFFFF;
  }
  .menu__list-item {
    color: #5C39BA;
  }
  .menu__subnav-list {
    position: absolute;
    top: 5.4rem;
    left: 6rem;
    padding: 10px;
    background-color: #5C39BA;
  }
  .menu__subnav-list-item {
    color: #FFFFFF;
  }
  .menu__closeBtn {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .menu__list-item:not(:last-child) {
    margin-right: 10px;
  }
}

/*main*/
#truckImg {
  margin-right: 15.85px;
}

#medalImg {
  margin-right: 27.5px;
}

#personImg {
  margin-right: 20.52px;
}

#info-item-1 {
  max-width: 139px;
}

#info-item-2 {
  max-width: 128px;
}

#info-item-3 {
  max-width: 144px;
}

.main {
  position: relative;
  min-height: 664px;
  padding: 54px 10px 0 10px;
}
.main__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main__title, .main__subtitle, .main__info, .main__detail {
  animation: 3s show linear forwards;
}
.main__title, .main__subtitle {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
.main__title {
  padding: 0 2rem 2.188rem 0;
  width: 570px;
  height: 132px;
  font-family: 900;
  font-size: 3.438rem;
  line-height: 120%;
}
.main__subtitle {
  margin-bottom: 6px;
  width: 20.75rem;
  height: 3.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
}
.main__detail {
  margin-bottom: 67px;
  width: 10.814rem;
  height: 0.313rem;
  background-color: #BAF1FF;
  color: #BAF1FF;
}
.main__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 451px;
  min-height: 108px;
  padding: 0;
}
.main__info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__info-container:not(:last-child) {
  margin-bottom: 35px;
}
.main__info-txt {
  height: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 120%;
  color: #FFFFFF;
}
.main__img-container {
  display: none;
}
.main__img {
  position: absolute;
  width: 745px;
  height: 664px;
  top: -1;
  right: 0;
}
@media (max-width: 280px) {
  .main__title {
    margin-bottom: 70px;
  }
  .main__info {
    margin-top: 100px;
  }
}
@media (max-width: 540px) {
  .main__title {
    font-size: 2.8rem;
  }
  .main__subtitle {
    margin-bottom: 30px;
  }
  .main__title, .main__subtitle {
    width: 100%;
    text-align: center;
  }
  .main__detail {
    display: none;
  }
  .main__info {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .main__container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .main__info {
    margin-bottom: 80px;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*form*/
.aside {
  width: 508px;
  height: 471px;
  padding: 30px 0 29px 30px;
  border-radius: 10px;
  background-color: #FFFFFF;
  animation: 3s show linear forwards;
}
.aside__title {
  width: 268px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 120%;
}
.aside__questions {
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 108%;
}
.aside__title, .aside__questions {
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.aside__range {
  padding: 24px 0 34px 0;
}
.aside__range-titles {
  margin-bottom: 21px;
}
.aside__output-range {
  font-family: Arial;
  font-weight: 700;
  font-size: 1.063rem;
  line-height: 118%;
  letter-spacing: 1px;
}
.aside__output-container {
  margin-left: 16.688rem;
}
.aside__house-container {
  padding: 24px 0 32px 0;
}
.aside__rooms-container {
  padding: 18px 0 0 0;
}
.aside__house-container, .aside__rooms-container {
  display: flex;
  flex-direction: row;
}
.aside__house-radio, .aside__rooms-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aside__house-radio {
  margin-right: 1.25rem;
}
.aside__rooms-radio {
  margin-right: 4rem;
}
.aside__btn-container {
  display: flex;
  justify-content: center;
}
.aside__btn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 60px;
  text-transform: uppercase;
  line-height: 375%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  background-color: #302594;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 280px) {
  .aside__title {
    font-size: 1.2rem;
    width: 100%;
  }
}
@media (max-width: 540px) {
  .aside {
    padding: 25px;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .aside__output-container {
    margin-left: 70%;
  }
  .aside__house-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .aside__rooms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
}

/******** input-range ********/
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #BAF1FF;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  height: 0.75rem;
  width: 28rem;
  background-image: linear-gradient(#BE69D5, #BE69D5);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 540px) {
  input[type=range] {
    width: 90%;
  }
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  color: #BE69D5;
  height: 0.75rem;
  border-radius: 0.25rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -10.5px;
  width: 2.063rem;
  height: 2.063rem;
  background-color: #302594;
  border-radius: 6.25rem;
}

/******** Firefox ********/
input[type=range]::-moz-range-track {
  background: #BAF1FF;
  border-radius: 0.25rem;
  height: 0.75rem;
}
input[type=range]::-moz-range-thumb {
  border: none;
  width: 2.063rem;
  height: 2.063rem;
  background-color: #302594;
  border-radius: 6.25rem;
}
input[type=range]::-moz-range-progress {
  height: 0.75rem;
  background-color: #BE69D5;
  border-radius: 0.25rem;
}

/******** input-radio ********/
*:before,
*:after {
  box-sizing: border-box;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  width: 1.938rem;
  height: 1.938rem;
  border: 0.28em double #000000;
  border-radius: 50%;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #000000;
  cursor: pointer;
}
input[type=radio]::before {
  display: grid;
  place-content: center;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #302594;
  background-color: #302594;
}
input[type=radio]:checked::before {
  transform: scale(1);
}

label {
  cursor: pointer;
}

/******** scroll button ********/
.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.688rem;
  margin-bottom: 4.688rem;
}
.scroll__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.scroll__img {
  width: 32px;
  height: 32px;
}
.scroll__txt {
  margin-top: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .scroll {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */