@import "variables.scss";

body{
    height: 100%;
    line-height: 1;
    background: linear-gradient(99.89deg, $bodyBackground1 0%, $bodyBackground2 98.82%);
}

/*mixin*/

@mixin btn($btnWidth, $btnHeight){
    display: flex;
    justify-content: center;
    align-items: center;
    width: $btnWidth;
    height: $btnHeight;
    text-transform: uppercase;
    line-height: 375%;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    background-color: $btnColor;
    color: $mainColor;
    cursor: pointer;
} 

/*header*/

.header {
    position:sticky;
    width: 100%;
    left: 0;
    top: 0;
    font-family: $headerFont;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    z-index: 50;

    &__container {
        display: flex;
        align-items: center;
        min-height: 60px;
        max-width: 1247px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }

    &__btn {
        margin-left: 153px;

        @include btn(246px, 60px);
    }

    @media (max-width: 992px) {
        &__btn {
            margin-left: 30px;
        }
    }
}

.menu {
    position: relative;
    margin-top: 30px;
    max-width: 848px;
    
    &__closeBtn {
        display: none;
        margin: 0 4px 0 0;
        padding: 0;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
        outline: none;
        line-height: 138%;
        cursor: pointer;
    }

    &__img {
        width: 24px;
        height: 24px;
    }

    &__link {
        text-decoration: none;
        line-height: 138%;
        color: inherit;
    }

    &__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        &-item {
            list-style: none;
            text-decoration: none;
            z-index: 5;
            color: $mainColor;
            &:not(:last-child){
                margin-right: 39px;
            }
        }
    }

    &__subnav-list{
        position: absolute;
        top: 28px;
        left: 40px;
        z-index: 6;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 6px;
        padding-left: 19px;
        padding-bottom: 7px;
        width: 154px;
        height: 125px;
        background-color: $mainColor;
        border-radius: 7px;

        &-item {
            margin: 0;
            list-style: none;
            text-decoration: none;
            color: $menuColor;
        }
    }
}

/*main*/

#truckImg {
    margin-right: 15.85px;
}

#medalImg {
    margin-right: 27.5px;
}

#personImg {
    margin-right: 20.52px;
}

#info-item-1 {
    max-width: 139px;
}

#info-item-2 {
    max-width: 128px;
}

#info-item-3 {
    max-width: 144px;
}

.main{
    position: relative;
    min-height: 664px;
    padding: 54px 10px 0 10px;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__title, 
    &__subtitle {
        font-family: $mainFont;
        color: $mainColor;
    }

    &__title {
        width: 570px;
        height: 132px;
        font-family: 900;
        font-size: 3.438rem;
        line-height: 120%;
    }

    &__subtitle {
        margin-top: 35px;
        margin-bottom: 6px;
        width: 20.75rem;
        height: 3.5rem;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 28px;
    }

    &__detail {
        margin-bottom: 67px;
        width: 10.814rem;
        height: 0.313rem;
        background-color: $customBlue;
        color: $customBlue;
    }

    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 451px;
        min-height: 108px;
        padding: 0;

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:last-child){
                margin-bottom: 35px;
            }
        }

        &-txt {
            height: 34px;
            font-family: $mainFont;
            font-weight: 500;
            line-height: 120%;
            color: $mainColor;
        }
    }

    &__img-container {
        display: none;
    }

    &__img {
        position: absolute;
        width: 745px;
        height: 664px;
        top: -1;
        right: 0;
    }

    @media (max-width: 992px) {
        &__container {
            align-items: center;
            flex-direction: column;
        }
    }
}

/*form*/

.aside {
    width: 508px;
    height: 471px;
    padding: 30px 0 29px 30px;
    border-radius: 10px;
    background-color: $mainColor;

    &__title {
        width: 268px;
        height: 60px;
        font-family: $mainFont;
        font-weight: 600;
        font-size: 1.563rem;
        line-height: 120%;
    }

    &__questions {
        font-weight: 400;
        font-size: 0.75rem;
        text-transform: uppercase;
        line-height: 108%;
    }

    &__title,
    &__questions {
        font-family: $mainFont;
        color: $asideColor;
    }

    &__range {
        padding: 24px 0 34px 0;

        &-titles {
            margin-bottom: 21px;
        }
    }

    &__output-range {
        font-family: $asideFont;
        font-weight: 700;
        font-size: 1.063rem;
        line-height: 118%;
        letter-spacing: 1px;
    }

    &__output-container {
        margin-left: 16.688rem;
    }

    &__btn {
        margin-top: 25px;

        @include btn(185px, 60px);
    }
}

/*input-range*/

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: $customBlue;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    height: 0.75rem;
    width: 28rem;
    background-image: linear-gradient($customViolet, $customViolet);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/

input[type="range"] {
    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        color: $customViolet;
        height: 0.75rem;
        border-radius: 0.25rem;
    }

    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        margin-top: -10.5px;
        width: 2.063rem;
        height: 2.063rem;
        background-color: $btnColor;
        border-radius: 6.25rem;
    }
}

/******** Firefox ********/

input[type="range"] {
    &::-moz-range-track {
        background: $customBlue;
        border-radius: 0.25rem;
        height: 0.75rem;
    }

    &::-moz-range-thumb {
        border: none;
        width: 2.063rem;
        height: 2.063rem;
        background-color: $btnColor;
        border-radius: 6.25rem;
    }

    &::-moz-range-progress {
        height: 0.75rem;
        background-color: $customViolet;
        border-radius: 0.25rem;
    }
}

/******** Edge ********/

input[type="range"] {
    &::-ms-thumb {
        margin-top: -10.5px;
        width: 2.063rem;
        height: 2.063rem;
        background-color: $btnColor;
        border-radius: 6.25rem;
    }

    &::-ms-track {
        border-radius: 0.25rem;
        border: none;
        height: 0.75rem;
    }

    &::-ms-fill-lower {
        background-color: $customViolet;
        border-radius: 0.25rem;
    }

    &::-ms-fill-upper {
        background-color: $customBlue;
        border-radius: 0.25rem;
    }
}

/*scroll button*/

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 89px;
    margin-bottom: 45px;

    &__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    } 

    &__img {
        width: 32px;
        height: 32px;
    }

    &__txt {
        margin-top: 14px;
        font-family: $mainFont;
        font-weight: 400;
        font-size: 15px;
        line-height: 107%;
        text-transform: uppercase;
        color: $mainColor;
    }
}