@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "../fonts/Arial/font.css";
body {
  height: 100%;
  line-height: 1;
  background: linear-gradient(99.89deg, #3625AF 0%, #C46BD5 98.82%);
}

/*mixin*/
/*header*/
.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 60px;
  max-width: 1247px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.header__btn {
  margin-left: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 60px;
  text-transform: uppercase;
  line-height: 375%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  background-color: #302594;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__btn {
    margin-left: 30px;
  }
}

.menu {
  position: relative;
  margin-top: 30px;
  max-width: 848px;
}
.menu__closeBtn {
  display: none;
  margin: 0 4px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  line-height: 138%;
  cursor: pointer;
}
.menu__img {
  width: 24px;
  height: 24px;
}
.menu__link {
  text-decoration: none;
  line-height: 138%;
  color: inherit;
}
.menu__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.menu__list-item {
  list-style: none;
  text-decoration: none;
  z-index: 5;
  color: #FFFFFF;
}
.menu__list-item:not(:last-child) {
  margin-right: 39px;
}
.menu__subnav-list {
  position: absolute;
  top: 28px;
  left: 40px;
  z-index: 6;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6px;
  padding-left: 19px;
  padding-bottom: 7px;
  width: 154px;
  height: 125px;
  background-color: #FFFFFF;
  border-radius: 7px;
}
.menu__subnav-list-item {
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #5C39BA;
}

/*main*/
#truckImg {
  margin-right: 15.85px;
}

#medalImg {
  margin-right: 27.5px;
}

#personImg {
  margin-right: 20.52px;
}

#info-item-1 {
  max-width: 139px;
}

#info-item-2 {
  max-width: 128px;
}

#info-item-3 {
  max-width: 144px;
}

.main {
  position: relative;
  min-height: 664px;
  padding: 54px 10px 0 10px;
}
.main__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main__title, .main__subtitle {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
.main__title {
  width: 570px;
  height: 132px;
  font-family: 900;
  font-size: 3.438rem;
  line-height: 120%;
}
.main__subtitle {
  margin-top: 35px;
  margin-bottom: 6px;
  width: 20.75rem;
  height: 3.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
}
.main__detail {
  margin-bottom: 67px;
  width: 10.814rem;
  height: 0.313rem;
  background-color: #BAF1FF;
  color: #BAF1FF;
}
.main__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 451px;
  min-height: 108px;
  padding: 0;
}
.main__info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__info-container:not(:last-child) {
  margin-bottom: 35px;
}
.main__info-txt {
  height: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 120%;
  color: #FFFFFF;
}
.main__img-container {
  display: none;
}
.main__img {
  position: absolute;
  width: 745px;
  height: 664px;
  top: -1;
  right: 0;
}
@media (max-width: 992px) {
  .main__container {
    align-items: center;
    flex-direction: column;
  }
}

/*form*/
.aside {
  width: 508px;
  height: 471px;
  padding: 30px 0 29px 30px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.aside__title {
  width: 268px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 120%;
}
.aside__questions {
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 108%;
}
.aside__title, .aside__questions {
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.aside__range {
  padding: 24px 0 34px 0;
}
.aside__range-titles {
  margin-bottom: 21px;
}
.aside__output-range {
  font-family: Arial;
  font-weight: 700;
  font-size: 1.063rem;
  line-height: 118%;
  letter-spacing: 1px;
}
.aside__output-container {
  margin-left: 16.688rem;
}
.aside__btn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 60px;
  text-transform: uppercase;
  line-height: 375%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  background-color: #302594;
  color: #FFFFFF;
  cursor: pointer;
}

/*input-range*/
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #BAF1FF;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  height: 0.75rem;
  width: 28rem;
  background-image: linear-gradient(#BE69D5, #BE69D5);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  color: #BE69D5;
  height: 0.75rem;
  border-radius: 0.25rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -10.5px;
  width: 2.063rem;
  height: 2.063rem;
  background-color: #302594;
  border-radius: 6.25rem;
}

/******** Firefox ********/
input[type=range]::-moz-range-track {
  background: #BAF1FF;
  border-radius: 0.25rem;
  height: 0.75rem;
}
input[type=range]::-moz-range-thumb {
  border: none;
  width: 2.063rem;
  height: 2.063rem;
  background-color: #302594;
  border-radius: 6.25rem;
}
input[type=range]::-moz-range-progress {
  height: 0.75rem;
  background-color: #BE69D5;
  border-radius: 0.25rem;
}

/******** Edge ********/
input[type=range]::-ms-thumb {
  margin-top: -10.5px;
  width: 2.063rem;
  height: 2.063rem;
  background-color: #302594;
  border-radius: 6.25rem;
}
input[type=range]::-ms-track {
  border-radius: 0.25rem;
  border: none;
  height: 0.75rem;
}
input[type=range]::-ms-fill-lower {
  background-color: #BE69D5;
  border-radius: 0.25rem;
}
input[type=range]::-ms-fill-upper {
  background-color: #BAF1FF;
  border-radius: 0.25rem;
}

/*scroll button*/
.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 89px;
  margin-bottom: 45px;
}
.scroll__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.scroll__img {
  width: 32px;
  height: 32px;
}
.scroll__txt {
  margin-top: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  text-transform: uppercase;
  color: #FFFFFF;
}/*# sourceMappingURL=index.css.map */