@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:wght@300;400;500;700;900&display=swap');
@import "../fonts/Arial/font.css";

$mainFont: 'Roboto', sans-serif;
$headerFont: 'Inter', sans-serif;
$asideFont: Arial;

$bodyBackground1: #3625AF;
$bodyBackground2: #C46BD5;

$mainColor: #FFFFFF;
$asideColor: #000000;
$menuColor: #5C39BA;
$btnColor: #302594;
$customBlue: #BAF1FF;
$customViolet: #BE69D5;